# Configuration of the camera
camera:
{
    resolution = { width = 1920; height = 1080; };
    position = { x = 0; y = 0; z = 0; };
    rotation = { x = 0; y = 0; z = 0; };
    fieldOfView = 72.0; # In degree
};

# Primitives in the scene
primitives:
{
    # List of spheres
    spheres = (
        { x = 60; y = 5; z = 40; r = 25; color = { r = 255; g = 64; b = 64; }; rotation = { x = 0; y = 0; z = 0; }; },
        { x = -40; y = 20; z = -10; r = 35; color = { r = 64; g = 255; b = 64; }; rotation = { x = 0; y = 0; z = 0; }; }
    );

    # List of planes
    planes = (
        { x = 0; y = 0; z = -20; color = { r = 64; g = 64; b = 255; }; rotation = { x = 0; y = 0; z = 0; }; },
    );

    # List of cones
    cones = (
        { x = 0; y = 0; z = 0; r = 20; h = 50; color = { r = 255; g = 255; b = 64; }; rotation = { x = 0; y = 0; z = 0; }; limited = true;},
        { x = 0; y = 0; z = 0; color = { r = 255; g = 255; b = 64; }; rotation = { x = 0; y = 0; z = 0; }; limited = false; angle = 45;}
    );

    # List of cylinders
    cylinders = (
        { x = 0; y = 0; z = 0; r = 20; h = 50; color = { r = 255; g = 64; b = 255; }; rotation = { x = 0; y = 0; z = 0; }; limited = true;},
        { x = 0; y = 0; z = 0; r = 10; color = { r = 255; g = 64; b = 255; }; rotation = { x = 0; y = 0; z = 0; }; limited = false;}
    );

    # List of torus
    torus = (
        { x = 0; y = 0; z = 0; r = 20; R = 40; color = { r = 64; g = 255; b = 255; }; rotation = { x = 0; y = 0; z = 0; };},
    );

    # List of boxes
    boxes = (
        { x = 0; y = 0; z = 0; w = 20; h = 20; d = 20; color = { r = 255; g = 255; b = 255; }; rotation = { x = 0; y = 0; z = 0; };},
    );

    # List of triangles
    triangles = (
        { sommet1 = { x = 10; y = 0; z = 0;}; sommet2 = { x = 0; y = 100; z = 0;}; sommet3 = { x = 0; y = 0; z = 40;}; color = { r = 255; g = 255; b = 255; }; rotation = { x = 0; y = 0; z = 0; };},
    );
};

# Light configuration
lights:
(
    {
        ambient = 0.4; # Multiplier of ambient light
        diffuse = 0.6; # Multiplier of diffuse light

        x = 10; y = 0; z = 0; # Position of the light

        # List of directional lights
        directional = false; # Directional light

        color = { r = 255; g = 255; b = 255; }; # Color of the light

    },
    {
        ambient = 0.4; # Multiplier of ambient light
        diffuse = 0.6; # Multiplier of diffuse light

        x = 0; y = 10; z = 0; # Position of the light

        # List of directional lights
        directional = true; # Directional light

        color = { r = 255; g = 255; b = 255; }; # Color of the light

    }
);