# Configuration of the camera
camera:
{
    resolution = { width = 1000; height = 1000; };
    position = { x = 0.0; y = 0.0; z = -10.0; };
    rotation = { x = 0; y = 0; z = 0; };
    fieldOfView = 72.0; # In degree
};

# Primitives in the scene
primitives:
{
    cylinders = (
        { x = 0.0; y = -0.5; z = 10.0; r = 0.2; h = 2; color = { r = 255; g = 64; b = 255; }; rotation = { x = 0; y = 0; z = 0; }; limited = false;},
    );

    spheres = (
        { x = 1.0; y = 2.5; z = 50.0; r = 0.5; color = { r = 0; g = 64; b = 64; }; rotation = { x = 0; y = 0; z = 0; }; },
        { x = -1.0; y = 2.5; z = 50.0; r = 0.5; color = { r = 0; g = 64; b = 64; }; rotation = { x = 0; y = 0; z = 0; }; },
    );

};

# Light configuration
lights:
(
    {
        ambient = 0.4; # Multiplier of ambient light
        diffuse = 0.6; # Multiplier of diffuse light

        x = 10; y = 0; z = 0; # Position of the light

        # List of directional lights
        directional = false; # Directional light

        color = { r = 255; g = 255; b = 255; }; # Color of the light

    },
    {
        ambient = 0.4; # Multiplier of ambient light
        diffuse = 0.6; # Multiplier of diffuse light

        x = 0; y = 10; z = 0; # Position of the light

        # List of directional lights
        directional = true; # Directional light

        color = { r = 255; g = 255; b = 255; }; # Color of the light

    }
);